
:root{
  --menuBg: #e4e4e4;
  --importantContentText: #6B4747;
  --background: #FFF8E8;
  --prodText: #E1E4FF;
  --prodPrice: #bcaad4;
  --valeursTxt: #2F0E5A;
  --prodsTitle: #D12B5D;
  --titleBackground: #D9D9D9BD;
  --titleText: #E93219;
  --paginationItemBg: #D9D9D9;
  --paginationItemText: #3E9C86;
  --paginationItemSelect: #949494;
  --paginationItemOnHoverBg: #C3E6E9;
  --paginationItemOnHoverText: #E5A443;
  --cardProdBg: #dfd7cd;
  --quantiteBg: #eee;
  --quantiteTitle: #B3687E;;
  --quantiteTxt: #E93219;
  --quantiteNumber: #95668D;
  --addToCartBg: #552828;
  --addToCartTxt: #f4cccc;
  --starIcon: #e99210;
  --reviewsBg: #d3c8b8;
  --reviewsTitle: #510088;
  --reviewInfos: #b3025d;
  --reviewOpinion: #474D6B;
  --quantiteBgHover: #e7c1c1;
  --quantiteTxtHover: #548ebe;
  --categorieBg: #f5f8f9;
  --categorieTitle: #364a5a;
  --trashBg: #a24d73;
  --trashColor: #ecd7e1;
  --trashHoverBg: #a26c4d;
  --trashHoverColor: #ade4df;
  --titlePanier: #1b007d;
  --cartItemTitle: #364a5a;
  --cartItemBg: linear-gradient(42deg, rgb(78, 100, 95) 0%, rgb(202, 219, 216) 35%, rgb(133, 196, 187) 100%);
  --prodBg: linear-gradient(42deg, rgb(20, 10, 36) 0%, rgb(82, 110, 110) 55%, rgb(179, 193, 190) 100%);
  --customTooltipText: #f4f0ed;
  --customTooltipBg: #a5a5a5;
  --contactFieldBg: #abc;
  --contactFieldBgFocused: #abc;
  --contactFieldBorderFocused: #abc;
  --contactFieldTxt: rgb(42, 13, 106);
  --contactFieldTxtFocused: rgb(42, 13, 106);
}

/* ****************************** IMPORTS ********************************* */
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body{
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--background);
  font-family: 'Poppins', sans-serif;
}

ul{
  margin: 0;
  padding: 0;
}

/* Cible les icônes de carte à l'intérieur du composant CardElement */
.StripeElement--base .__PrivateStripeElement iframe {
  height: 1.6em !important; /* Ajuste la hauteur de l'icône */
}

.StripeElement--base .__PrivateStripeElement iframe {
  width: 1.6em !important; /* Ajuste la largeur de l'icône */
}

.userConnect{
  color: red;
}

#root {
  margin: 0 auto;
  text-align: center;
}
