
:root{
  --menuBg: #e4e4e4;
  --importantContentText: #6B4747;
  --background: #FFF8E8;
  --prodText: #E1E4FF;
  --prodPrice: #bcaad4;
  --valeursTxt: #2F0E5A;
  --prodsTitle: #D12B5D;
  --titleBackground: #D9D9D9BD;
  --titleText: #E93219;
  --paginationItemBg: #D9D9D9;
  --paginationItemText: #3E9C86;
  --paginationItemSelect: #949494;
  --paginationItemOnHoverBg: #C3E6E9;
  --paginationItemOnHoverText: #E5A443;
  --cardProdBg: #dfd7cd;
  --quantiteBg: #eee;
  --quantiteTitle: #B3687E;;
  --quantiteTxt: #E93219;
  --quantiteNumber: #95668D;
  --addToCartBg: #552828;
  --addToCartTxt: #f4cccc;
  --starIcon: #e99210;
  --reviewsBg: #d3c8b8;
  --reviewsTitle: #510088;
  --reviewInfos: #b3025d;
  --reviewOpinion: #474D6B;
  --quantiteBgHover: #e7c1c1;
  --quantiteTxtHover: #548ebe;
  --categorieBg: #f5f8f9;
  --categorieTitle: #364a5a;
  --trashBg: #a24d73;
  --trashColor: #ecd7e1;
  --trashHoverBg: #a26c4d;
  --trashHoverColor: #ade4df;
  --titlePanier: #364a5a;
  --cartItemTitle: #364a5a;
  --cartItemBg: #f5f8f9;
  --prodBg: linear-gradient(42deg, rgb(20, 10, 36) 0%, rgb(82, 110, 110) 55%, rgb(179, 193, 190) 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--background);
}

ul{
  margin: 0;
  padding: 0;
}

#root {
  margin: 0 auto;
  text-align: center;
}
