
:root{
  --menuBg: #e4e4e4;
  --importantContentText: #6B4747;
  --background: #FFF8E8;
  --prodText: #2A3BD1;
  --prodPrice: #2F0E5A;
  --prodsTitle: #D12B5D;
  --titleBackground: #D9D9D92A;
  --titleText: #E93219;
  --paginationItemBg: #D9D9D9;
  --paginationItemText: #3E9C86;
  --paginationItemSelect: #949494;
  --paginationItemOnHoverBg: #C3E6E9;
  --paginationItemOnHoverText: #E5A443;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--background);
}

ul{
  margin: 0;
  padding: 0;
}

#root {
  margin: 0 auto;
  text-align: center;
}
